Checks: '-*,bugprone-*,-bugprone-easily-swappable-parameters,-bugprone-reserved-identifier,performance-*,readability-braces-around-statements'
WarningsAsErrors: '-*,bugprone-*,-bugprone-exception-escape,-bugprone-easily-swappable-parameters,-bugprone-reserved-identifier'
